<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Hello {{call}}!</h1>

  <app-child></app-child>

  <button (click)="toggleTable()">Enter</button>

  <!-- <button (click)="enter">Enter</button> -->
  <div>
    <td>
      <label>Id</label>
      <input type="text" #id placeholder="Enter student id"/>
    </td>
    <td>
      <label>Name</label>
      <input type="text" #name placeholder="Enter student name"/>
    </td>
    <td>
      <label>Age</label>
      <input type="text" #age placeholder="Enter student age"/>
    </td>
    <td><button (click)="addStudent(id,name,age)">Add student</button></td>
  </div>

  <table *ngIf="showTable" border="1">                  
  <!-- <table> -->
    <tr>
      <td>ID</td>
      <td>NAME</td>
      <td>AGE</td>
    </tr>
    <ng-container *ngFor="let student of students">
      <!-- <tr *ngIf="student.age > 19"> -->
      <tr>
        <td>{{student.id}}</td>
        <td>{{student.name}}</td>
        <td>{{student.age}}</td>
        <td><button (click)="deleteStudent(student.id)">Delete</button></td>
        <td><button (click)="editStudent(student)">Edit</button></td>
      </tr>
    </ng-container>
  </table>


</body>
</html>
